body {
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color: #274b6d;
margin: 0;
padding: 0;
}
#sisu {
	padding: 0.5em;
	position: absolute;
	right: 0;
	left: 0;
	top: inherit;
}
#pealkiri {
font-size: 14px;
}
#ajaraam {
font-size: 14px;
padding: 0.5em 1em;
color: white;
background-color: green;
}
#ajaraam a {
text-decoration: none;
color: white;
}

/*.navbar-header {
padding: 5px;
}*/

/*.float {
padding-top: 0.3em;
width: 49%;
float: left;
}*/
#yrmeta, #wgmeta, #curmeta {
margin-left: 50px;
font-size: 60%;
color: whitesmoke;
}
.meta a {
color: lightgray;
}
.chart-frame1, .chart-frame2 {
max-width: 750px;
padding: 0.2em;
}
.chart-frame1 {
height: 280px;
}
.chart-frame2 {
height: 230px;
}
#backgr {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
opacity: 0.7;
display: none;
}
#backgr img {
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
}
#dots {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: url("bg_mask.png");
z-index: -1;
opacity: 0.6;
}
#bghide {
display: none;
top:0;
left:0;
bottom: 0;
right:0;
z-index: 200;
background-color: rgb(46,46,46);
opacity: 0.4;
position: fixed;
}
#popup {
display: none;
position: absolute;
padding: 1em;
border-radius: 0.5em;
border: 1px solid grey;
text-decoration: none;
margin: 0 auto;
background-color: white;
z-index: 250;
top: 10%;
left: 10%;
right: 10%;
}
#popup div {
position: relative;
}
.yks {
float: left;
}
.kaks {
float:left;
}
ul {
list-style: none;
margin: 0px;
padding: 0px;
border-top: 1px solid grey;
}
.lingid {
padding: 0.5em;
}
.lingid li {
padding-left: 0.2em;
line-height: 1.5em;
}
a {
text-decoration:none;
}
.h {
line-height: 1.5em;
}
.lingid {
vertical-align: top;
display: inline-block;
}
#sl {
z-index: 1000;
cursor: pointer;
}

/*bootstrap overrides*/
.nav > li > a, .navbar-text {
    padding: 5px 15px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 25px;
    line-height: 20px;
    padding: 5px 15px;
}
.navbar {
min-height: 25px;
margin-bottom: 0px;
}
.navbar-inverse {
background-color: #39485d;
border-color: #3C4A5A;
}
.navbar-header {
white-space:nowrap;
}
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-right: 3px;
padding-left: 3px;
}
.navbar-toggle {
padding: 3px 10px;
margin-top: 5px;
margin-bottom: 1px;
}
.navbar-btn.btn-xs {
margin-top: 5px;
margin-bottom: 4px;
margin-left: 5px;
}
