emu_data/*
*/emu_data/*
emhi_data/*
*/emhi_data/*
wg_data/*
*/wg_data/*
yr_data/*
*/yr_data/*
mnt_data/*
*/mnt_data/*
zoig_data/*
*/zoig_data/*
arhiiv/*
*/arhiiv/*
node_modules
bin/jaamconf.php
validation-*.json
